body, html {
  margin: auto;
}

body {
  font-family: "Source Code Pro", monospace;
  font-style: normal;
  background: #0f0f23;
  color: #cccccc;
  margin: auto;
}

code {
  font-size: 1.3em;
}

header div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.content {
  max-width: 50em;
  margin: auto auto;
}

.blog-header {
    text-align: center;
    padding: 1em;
    border-bottom: 1px solid #cccccc22;
    font-family: monospace;
    font-size: 1.2rem;
    margin: 2rem auto;
}

.blog-footer {
    text-align: center;
    margin: 2rem auto;
    padding: 1em;
    font-family: "Source Code Pro", monospace;
    font-style: normal;
    border-top: 1px solid #cccccc22;
}

.post-card {
    /* border: 1px solid #cccccc22; */
    list-style-type: none;
    align-items: left;
    text-align: center;
    margin: 2rem auto;
    padding: 1em;
}

.postLink {
    text-align: justify;
    text-justify: inter-word;
    hyphens: auto;
    margin-bottom: 0.5em
}

.summary {
  max-width: 50em;
  text-align: justify;
  word-wrap: break-word;
  margin: 0 auto;
  font-size: 0.9em;
}

p {
  margin-right: 2em;
  text-align: justify;
  text-justify: inter-word;
  hyphens: auto;
  margin-bottom: 0px;
}

.summary p {
  max-width: 50em;
}

.tagList {
  padding: 0;
  margin: 0;
}

.title {
  font-size: 1.1em;
}

.tag {
    color: #ffd1d8;
    font-size: 0.8em;
}

.tag::before {
    content: "#";
}

.post {
    margin: 2rem auto;
}

.postList {
  padding: 0;
  /* display: flex; */
  /* flex-direction: row; */
}

p img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  width: auto;
}

.post-link {
  color: #aaaaaa;
}

.post-link:hover {
  color: yellow;
}

.titleLink {
  color: #cccccc;
  text-decoration: none;
}

.titleLink:hover {
  color: yellow;
}

.tag:hover {
  color: #e8a1a8;
}

a {
  color: darkgreen;
}

a:hover {
  color: green;
}

.blogImage {
  display: block;
  max-width: 20rem;
  max-height: 10rem;
}

ol {
    list-style-type: none;
}

li {
    list-style-type: none;
}
