body {
    max-width: 960;
    margin: auto;
}

.blog-header {
    text-align: center;
    padding: 1em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.315);
    font-family: monospace;
    margin-bottom: 1em;
}

.blog-footer {
    padding: 1em;
    margin-top: 1em;
    line-height: 18px;
}

/* and more from github.com/shurcooL/github_flavored_markdown */
