:root {
  --darkreader-text--modus-themes-color-warm: #f5d0a5;
  --darkreader-text--modus-themes-color-warm-hover: #d5a075;
  --darkreader-text--modus-themes-color-cold: #a4deff;
  --darkreader-text--modus-themes-color-mild: #a4deff;
  --darkreader-text--modus-themes-color-blue: #1dc8ff;
  --darkreader-text--modus-themes-color-blue-alt: #69b4ff;
  --darkreader-text--modus-themes-color-cyan: #38fffc;
  --darkreader-text--modus-themes-color-calm: #f8b4eb;
  --darkreader-text--modus-themes-color-baselinkfg: var(--darkreader-text--modus-themes-color-blue);
  --darkreader-text--modus-themes-color-baselinkfgalt: var(--darkreader-text--modus-themes-color-cyan);
  --darkreader-bg--modus-themes-color-baselinkfghover: var(--darkreader-bg--modus-themes-color-blue-alt);
  --code-bg: #1f1f24;
}

body, html {
  margin: auto;
}

body {
  font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif, monospace;
  font-size: 1.1em;
 /* font-family: "Source Code Pro", monospace; */
  font-style: normal;
  background: #000;
  color: #cccccc;
  margin: auto;
}

code {
  font-size: 1.1em;
  background: var(--code-bg);
  border-radius: 0.15em;
  color: #93a1a1;
}

header div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.content {
  max-width: 50em;
  margin: auto auto;
}

.blog-header {
    text-align: center;
    padding: 1em;
    border-bottom: 1px solid #ffffff33;
    font-family: monospace;
    font-size: 1.05rem;
    margin: 1rem auto;
}

.blog-footer {
    text-align: center;
    margin: 2rem auto;
    padding: 1em;
    font-family: "Source Code Pro", monospace;
    font-style: normal;
    border-top: 1px solid #ffffff33;
}

.post-card {
    /* border: 1px solid #cccccc22; */
    list-style-type: none;
    align-items: left;
    text-align: center;
    margin: 2rem auto;
    padding: 1em;
}

.postLink {
    text-align: justify;
    text-justify: inter-word;
    hyphens: auto;
    margin-bottom: 0.5em
}

.summary {
  max-width: 50em;
  text-align: justify;
  word-wrap: break-word;
  margin: 0 auto;
  font-size: 0.9em;
}

p {
  margin-right: 2em;
  text-align: justify;
  text-justify: inter-word;
  hyphens: auto;
  margin-bottom: 0px;
}

.summary p {
  max-width: 50em;
}

.tagList {
  padding: 0;
  margin: 0;
}

.title {
  font-size: 1.1em;
}

.tag {
    color: var(--darkreader-text--modus-themes-color-calm);
    font-size: 0.8em;
}

.tag::before {
    content: "#";
}

.post {
    margin: 2rem auto;
}

.content h1 {
  color: #ffffff;
}

.content h2 {
  color: var(--darkreader-text--modus-themes-color-warm);
}

.content h3 {
  color: var(--darkreader-text--modus-themes-color-cold);
}

.content h4 {
  color: var(--darkreader-text--modus-themes-color-mild);
}

.postList {
  padding: 0;
  list-style-type: none;
}

p img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  width: auto;
}

.post-link {
  color: var(--darkreader-text--modus-themes-color-warm);
}

.post-link:hover {
  color: var(--darkreader-text--modus-themes-color-warm-hover);
}

.titleLink {
  color: #ffffff;
  text-decoration: none;
}

.titleLink:hover {
  color: var(--darkreader-text--modus-themes-color-warm-hover);
}

.tag:hover {
  color: #e8a1a8;
}

a {
  color: var(--darkreader-text--modus-themes-color-baselinkfg);
}

a:hover {
  color: var(--darkreader-text--modus-themes-color-baselinkfgalt);
}

.blogImage {
  display: block;
  max-width: 20rem;
  max-height: 10rem;
}

