/* body { */
/*   counter-reset:sidenote-counter */
/* } */

sidenote {
  float: right;
  clear: right;
  margin-right: -36%;
  width: 33%;
  font-size: 1em;
  line-height: 1.2;
  vertical-align: baseline;
  position: relative;
  text-align: left;
}

sidenote p {
    margin: 0
}

n {
 display:inline-block;
 max-height:2rem
}

n {
 counter-increment:sidenote-counter
}

n:after {
 position:relative;
 vertical-align:baseline
}

n:after {
 content:counter(sidenote-counter);
 font-size:0.8rem;
 top:-0.5rem
}

@media (max-width: 1400px) or ((min-width: 1402px) and (max-width: 1592px)) {

    .container {
    }
    
    sidenote {
	float: none;
    }
}

.drop {
  cursor: pointer;
  background: #090;
  display:block;
}

input[type="checkbox"]  {
 display: none; /* hide the checkboxes */
}

input +.drop +  div

{
  display:none;
}
.drop:after {
  content:'▼';
  }
:checked  + .drop:after {
  content:'▲';
  }
input:checked + .drop + div{
  display:block;
}
