sidenote {
  float: right;
  clear: right;
  margin-right: -36%;
  width: 33%;
  font-size: 1em;
  line-height: 1.2;
  vertical-align: baseline;
  position: relative;
  text-align: left;
}

.sidenote {
  float: right;
  clear: right;
  margin-right: -36%;
  width: 33%;
  font-size: 1em;
  line-height: 1.2;
  vertical-align: baseline;
  position: relative;
  text-align: left;
}
