body, html {
  margin: auto;
}

nav {
    font-size: 1.1rem;
}

body {
  font-size: 1rem;
  font-style: normal;
  background: #000;
  color: #cccccc;
  margin: auto;
}

b, strong, em {
  color: #ffffff;
}

code {
  background: var(--code-bg);
  font-family: var(--monospace-fonts);
  color: #93a1a1;
  overflow-wrap: break-word;
}

pre {
    overflow: auto;
    border-radius: 0.2rem;
    padding: 0.5rem;
}

.content {
  background: #000000;
  max-width: 58rem;
  margin: auto;
  padding: 2rem;
  font-family: var(--proportional-fonts);
}

header {
  padding: 1em;
  font-family: var(--proportional-fonts);
}

footer {
  bottom: 0;
  width: 65%;
  height: 2rem;

  text-align: center;
  margin: 2rem auto;
  font-family: var(--proportional-fonts);
}

.post-card {
    list-style-type: none;
    align-items: left;
    text-align: center;
    font-family: var(--proportional-fonts);
}

.postLink {
    text-align: justify;
    text-justify: inter-word;
    hyphens: auto;
    margin-bottom: 0.5em
}

.summary {
  max-width: 65em;
  text-align: justify;
  word-wrap: break-word;
  margin: 0 auto;
}

p {
  text-align: justify;
  text-justify: inter-word;
  hyphens: auto;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.summary p {
  max-width: 65em;
}

.tagList {
  padding: 0;
  margin: 0;
  color: #ffffff;
}

.post-card::marker {
  content: '- ';
  font-size: 1.1em;
}

.title {
  font-size: 1.1rem;
}

.tag {
    color: var(--darkreader-text--modus-themes-color-calm);
    font-size: 0.8em;
}

.tag::before {
    content: "#";
}

.post {
    margin: 2rem auto;
}

.content h1 {
  color: #ffffff;
}

.content h2 {
  color: var(--darkreader-text--modus-themes-color-warm);
}

.inpost {
  color: var(--darkreader-text--modus-themes-color-warm);
  text-decoration: none;
}

.inpost:hover {
  color: var(--darkreader-text--modus-themes-color-warm);
}

.content h3 {
  color: var(--darkreader-text--modus-themes-color-cold);
}

.content h4 {
  color: var(--darkreader-text--modus-themes-color-mild);
}

.postList {
  padding: 0;
  list-style-type: none;
}

p img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  width: auto;
}

.post-link {
  color: var(--darkreader-text--modus-themes-color-warm);
  text-decoration: none;
}

.post-link:hover {
  color: var(--darkreader-text--modus-themes-color-warm-hover);
}

.titleLink {
  color: #ffffff;
  text-decoration: none;
}

.titleLink:hover {
  color: var(--darkreader-text--modus-themes-color-warm-hover);
}

.tag:hover {
  color: #e8a1a8;
}

a {
  color: var(--darkreader-text--modus-themes-color-baselinkfg);
}

a:hover {
  color: var(--darkreader-text--modus-themes-color-baselinkfgalt);
}

.blogImage {
  display: block;
  max-width: 20rem;
  max-height: 10rem;
}
