{{ template "head" }}
<body>
    {{ template "header" }}
    <div class="content">
        <ol class="tagList">
            {{ if .AllTags }}
            <i>Tagged:</i>
            {{ range .AllTags }}
            <i><a href="/by-tag/{{ . }}" class="tag" style="font-size: 1rem;">{{ . }}</a></i>
            {{ end }}
            {{ end }}
        </ol>
        <ul class="postList">
            {{ range .Pages }}
            <li class="post-card">
                <div class="summary">
                    <div class="postLink">
                        <span class="title">
                            {{ if .MetaData.Link }}
                            <b><a href="{{ .MetaData.Link }}" class="post-link">{{ .MetaData.Title }}</a></b>
                            {{ else }}
                            <b><a href="{{ .Path | toURL }}" class="post-link">{{ .MetaData.Title }}</a></b>
                            {{ end }}
                        </span>
                        {{ if afterEpoch .MetaData.Date }}
                        <time style="font-size: 0.8em;">
                            <i>{{ .MetaData.Date.Format "Jan 02, 2006" }}</i>
                        </time>
                        {{ end }}
                    </div>
                    <!-- <div style="clear:both"></div> -->
                </div>
            </li>
            {{ end }}
        </ul>
    </div>
    {{ template "footer" }}
</body>

</html>
