<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Mislav's Blog</title>
    <link href="/css/index.css" rel="stylesheet" type="text/css">
</head>

<body>
    <header class="blog-header">
        <h1><a class="titleLink" href="/">Mislav's Blog</a></h1>
    </header>
    <div class="content">
        <ol class="postList">
            {{ range .Pages }}
            <li class="post-card">
                <div class="postLink">
                    <span class="title">
                        <b><a href="{{ .Path | toURL }}" class="post-link">{{ .MetaData.Title }}</a></b>
                    </span>
                    <time style="font-size: 0.8em;">
                        <i>{{ .MetaData.Date.Format "Jan 02, 2006" }}</i>
                    </time>
                    <ul class="tagList">
                        {{ range .MetaData.Tags }}
                        <i><a href="/by-tag/{{ . }}" class="tag" style="font-size: 0.9rem;">{{.}}</a></i>
                        {{ end }}
                    </ul>
                </div>
                <div class="summary">
                    <div style="float:right; margin: 2rem;">
                    {{ if .MetaData.TitleImage }}
                    <a class="img" href="{{ .Path | toURL }}">
                        <img class="blogImage" src="/BlogPosts/images/{{ .MetaData.TitleImage }}" alt="{{ .MetaData.TitleImage }}">
                    </a>
                    {{ end }}
                    </div>
                    <p>
                        {{ .MetaData.Summary }}
                    </p>
                    <div style="clear:both"></div>
                </div>
            </li>
            {{ end }}
        </ol>
    </div>
    <footer class="blog-footer">
    </footer>
</body>

</html>
