<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{{ .MetaData.Title }}</title>
    <link href="/css/index.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" id="MathJax-script" async
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.0.0/es5/latest?tex-mml-chtml.js">
    </script>
</head>

<body>
    <script src="/js/load-mathjax.js"></script>
    <!-- <script>
         window.MathJax = {
         tex: {
         inlineMath: [['$', '$'], ['\\(', '\\)']]
         },
         svg: {
         fontCache: 'global'
         }
         };

         (function () {
         var script = document.createElement('script');
         script.src = 'https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js';
         script.async = true;
         document.head.appendChild(script);
         })();
         </script> -->
    <header class="blog-header">
        <h1 style="margin-top: 0;"><a class="titleLink" href="/">Mislav's Blog</a></h1>
    </header>
    <div class="content">
        <div>
            <h1 style="margin: 0; font-size: 1.7rem;">{{ .MetaData.Title }}</h1>
            <i><time style="font-size: 0.85rem;">
                {{ .MetaData.Date.Format "Jan 02, 2006" }}
            </time></i>
            <ul class="tagList">
                {{ range .MetaData.Tags }}
                <i><a href="/by-tag/{{ . }}" class="tag">{{.}}</a></i>
                {{ end }}
            </ul>
        </div>
        <article class="post">
            {{ .Body | markDown }}
        </article>
    </div>
    <footer class="blog-footer">
        <a href="/" class="main-link">Back to main page</a>
    </footer>

</body>

</html>
