{{ template "head" }}
<body>
    {{ if .MetaData.Latex }}
    <script src="/js/load-mathjax.js"></script>
    {{ end }}
    <div class="content">
    {{ template "header" }}
        <div>
            <h1 style="font-size: 1.7rem;">{{ .MetaData.Title }}</h1>
            {{ if afterEpoch .MetaData.Date  }}
            <i><time style="font-size: 0.85rem;">
                {{ .MetaData.Date.Format "Jan 02, 2006" }}
            </time></i>
            {{ end }}
            <ul class="tagList">
                {{ range .MetaData.Tags }}
                <i><a href="/by-tag/{{ . }}" class="tag">{{.}}</a></i>
                {{ end }}
            </ul>
            {{ if ne .MetaData.Title "About" }}
            <i><p style="font-size: 0.85rem;">A {{ .ReadTime }} minute read.</p></i>
            {{ end }}
        </div>
        <article class="post">
            {{ .Body | markDown }}
        </article>
    {{ template "footer" }}
    </div>
</body>

</html>
