{{ template "head" }}
<body>
    <div class="content">
    {{ template "header" }}
        {{ if eq .Uri "blog" }}
        <h1>Blogposts</h1>
        {{ else }}
        <h1>Projects</h1>
        {{ end }}
        <ul class="postList">
        {{ range .Pages }}
            <li class="post-card">
                <div class="postLink">
                {{ if afterEpoch .MetaData.Date }}
                    <time style="font-size: 0.9em;">
                        <i>{{ .MetaData.Date.Format "Jan 02, 2006" }}</i>
                    </time>
                     - 
                {{ end }}
                    <span class="title">
                    {{ if .MetaData.Link }}
                        <b><a href="{{ .MetaData.Link }}" class="post-link">{{ .MetaData.Title }}</a></b>
                    {{ else }}
                        <b><a href="{{ .Path | toURL }}" class="post-link">{{ .MetaData.Title }}</a></b>
                    {{ end }}
                    </span>
                </div>
            </li>
        {{ end }}
        </ul>
    {{ template "footer" }}
    </div>
</body>

</html>
